.app{
  background:url('../../images/loginbg.png') center top;
  background-size: 100% auto;
  position: relative;
}
input {
  outline: none;
  border: 0;
  color:#fff;
}
input::-ms-input-placeholder {
  color: #fff;
  font-family:微软雅黑;
  font-size: 18px;
  line-height:18px;
}
input::-moz-placeholder {
  color: #fff;
  font-family:微软雅黑;
  font-size: 18px;
  line-height:18px;
}
input::-webkit-input-placeholder {
  color: #fff;
  font-family:微软雅黑;
  font-size: 18px;
  line-height:18px;
}
input:-o-placeholder {
  color: #fff;
  font-family:微软雅黑;
  font-size: 18px;
  line-height:18px;
}
.main{
  margin: 0 auto;
  width: 295px;
  height:390px;
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -142.5px;
  margin-top: -195px;
  .userBox,.passBox{
    width: 295px;
    height:41px;
    background: rgba(255,255,255,0.15);/*firefox、chrome*/
    background: #fff\0.15;/*IE*/
    filter: alpha(opacity=15);/*IE*/
    border-radius: 20px;
    input{
      position: absolute;
      margin-left:60px;
      margin-top: 10px;
      background: none;
      border: 0px;
    }
  }
  .userBox{
    margin-top: 50px;
    i{
      width:27px;
      height:26px;
      display: inline-block;
      background:url('../../images/username.png') no-repeat;
      background-size: 100% auto;
      margin-left: 20px;
      position: absolute;
      margin-top: 7px;
    }
  }
  .passBox{
    margin-top: 20px;
    i{
      width:24px;
      height:31px;
      display: inline-block;
      background:url('../../images/password.png') no-repeat;
      background-size: 100% auto;
      margin-left: 24px;
      position: absolute;
      margin-top: 4px;
    }
  }
  .submit{
    width: 140px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 22px;
    border:1px solid #fff;
    color:#fff;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
  }
}
